.container {
        display: grid;
	grid-template-columns: repeat(3, 50px);
	grid-template-rows: repeat(3, 50px);
        grid-gap: 8px;
}

.button {
        color: #FFF;
        background-color: #666;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        border-radius: 10px;
        user-select: none;
      
}

.button:last-of-type, .disabled:last-of-type {
        grid-column: span 2;
}

.button:active {
        color: #000;
        background-color: #07f76f;
        transition: .1s;
}
       
.disabled {
        color: #FFF;
        background-color: #666;
        text-align: center;
        line-height: 50px;
        border-radius: 10px;
        user-select: none;
        opacity: 0.5;
}
