:root {
  --buttonStart: #0a0a0a;
  --buttonPlus: #ea0404;
  --buttonReset: #29295f;
  --buttonText: #ffffff;
}

.button {
  width: 146px;
  height: 46px;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  color: var(--buttonText)
}

.buttonColor_start {
  color: var(--buttonText);
  background-color: var(--buttonStart);
}

.buttonColor_reset {
  background-color: var(--buttonReset);
}

.disabled {
  color: #d0d0d0;
  background-color: #909090;
  cursor: not-allowed;
}
