:root {
    --buttonColor: #333333;
}

.button {
    width: 320px;
    height: 80px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--buttonColor);
    background-color: var(--buttonColor);
    color: #f0f0f0;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.enabled {
    opacity: 1;
}

.enabled:active {
    color: var(--buttonColor);
    background-color: #07f76f;
    transition: .1s;
}
