.button {
  width: 146px;
  height: 146px;
  font-size: 32px;
  user-select: none;
  cursor: pointer;
  border-radius: 10%;
}

.buttonColor_plus {
  background-color: #ff0000;
  color: #ffffff;
}

.buttonColor_reset {
  background-color: #0000ff;
  color: #ffffff;
}
