:root {
  --buttonPlus: #ea0404;
  --buttonReset: #29295f;
}

.button {
  width: 146px;
  height: 146px;
  font-size: 32px;
  user-select: none;
  cursor: pointer;
  border-radius: 10%;
  color: #ffffff;
}

.buttonColor_plus {
  background-color: var(--buttonPlus);
}

.buttonColor_reset {
  background-color: var(--buttonReset);
}
